.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__jrsLp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__sIOqr {
  display: flex;
  flex-direction: column;
}
.freeBox__sIOqr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sIOqr > :global(.__wab_flex-container) > *,
.freeBox__sIOqr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sIOqr > :global(.__wab_flex-container) > picture > img,
.freeBox__sIOqr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text___1AqkY {
  font-size: 48px;
}
.freeBox__sJpDe {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__sJpDe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sJpDe > :global(.__wab_flex-container) > *,
.freeBox__sJpDe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sJpDe > :global(.__wab_flex-container) > picture > img,
.freeBox__sJpDe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__aN6H1:global(.__wab_instance) {
  position: relative;
}
.bullet__r05RH:global(.__wab_instance) {
  position: relative;
}
.bullet__iEi50:global(.__wab_instance) {
  position: relative;
}
.freeBox__lIB1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__fl8K2:global(.__wab_instance) {
  position: relative;
}
.svg__flYn9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__a9Cqk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___5Ug8Y {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
