.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__qii1R {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-xofsRPSTlRvj);
}
.freeBox__vIPs {
  width: 100%;
  height: auto;
  max-width: var(--token-1geShabhg2LL);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__vIPs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__vIPs > :global(.__wab_flex-container) > *,
.freeBox__vIPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vIPs > :global(.__wab_flex-container) > picture > img,
.freeBox__vIPs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vIPs {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vIPs > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vIPs > :global(.__wab_flex-container) > *,
  .freeBox__vIPs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vIPs > :global(.__wab_flex-container) > picture > img,
  .freeBox__vIPs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__zbGmu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__zbGmu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zbGmu > :global(.__wab_flex-container) > *,
.freeBox__zbGmu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zbGmu > :global(.__wab_flex-container) > picture > img,
.freeBox__zbGmu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__tPlz3:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kgmrZ {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__krRhD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___8DbuW {
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link___8DbuW:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__cdek2 {
  position: relative;
  font-size: 14px;
  color: var(--token-RLx-GBP4VGRV);
}
.link__gndfi {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__gndfi:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox___16Gb {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___16Gb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___16Gb > :global(.__wab_flex-container) > *,
.freeBox___16Gb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___16Gb > :global(.__wab_flex-container) > picture > img,
.freeBox___16Gb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___16Gb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___16Gb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___16Gb > :global(.__wab_flex-container) > *,
  .freeBox___16Gb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___16Gb > :global(.__wab_flex-container) > picture > img,
  .freeBox___16Gb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__sGb4U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__sGb4U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sGb4U > :global(.__wab_flex-container) > *,
.freeBox__sGb4U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sGb4U > :global(.__wab_flex-container) > picture > img,
.freeBox__sGb4U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zZJp8 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__hu1Go {
  font-size: 14px;
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
}
.root .link__hu1Go:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pbcH {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__pbcH:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xXfOc {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__xXfOc:hover {
  color: var(--token-NEon4Y--Z);
}
.link__c8Ka2 {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__c8Ka2:hover {
  color: var(--token-NEon4Y--Z);
}
.link__owdnu {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__owdnu:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__ki4N5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__ki4N5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ki4N5 > :global(.__wab_flex-container) > *,
.freeBox__ki4N5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ki4N5 > :global(.__wab_flex-container) > picture > img,
.freeBox__ki4N5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fOwA8 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___8JdJx {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link___8JdJx:hover {
  color: var(--token-NEon4Y--Z);
}
.link___1YCHf {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link___1YCHf:hover {
  color: var(--token-NEon4Y--Z);
}
.link__qfScC {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__qfScC:hover {
  color: var(--token-NEon4Y--Z);
}
.link___15Ls9 {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link___15Ls9:hover {
  color: var(--token-NEon4Y--Z);
}
.link___4Eq0A {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link___4Eq0A:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__hePhe {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__hePhe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hePhe > :global(.__wab_flex-container) > *,
.freeBox__hePhe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hePhe > :global(.__wab_flex-container) > picture > img,
.freeBox__hePhe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ydYmq {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__fBylX {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__fBylX:hover {
  color: var(--token-NEon4Y--Z);
}
.link__nxzqt {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__nxzqt:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xH51M {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__xH51M:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fFcip {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__fFcip:hover {
  color: var(--token-NEon4Y--Z);
}
.link___2InEh {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link___2InEh:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__pPbMd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__pPbMd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pPbMd > :global(.__wab_flex-container) > *,
.freeBox__pPbMd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pPbMd > :global(.__wab_flex-container) > picture > img,
.freeBox__pPbMd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__npW12 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__yo6Kt {
  position: relative;
  font-size: 14px;
  color: var(--token-RLx-GBP4VGRV);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__ptqZz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__rrgJ3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__o7Fcj {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__rLjN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___3MMsK {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-xofsRPSTlRvj);
}
.freeBox__lB6Qc {
  width: 100%;
  height: auto;
  max-width: var(--token-1geShabhg2LL);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__lB6Qc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lB6Qc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lB6Qc > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lB6Qc > :global(.__wab_flex-container) > *,
  .freeBox__lB6Qc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lB6Qc > :global(.__wab_flex-container) > picture > img,
  .freeBox__lB6Qc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__z0Pv7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__vO9Dw {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  height: auto;
  font-size: 14px;
}
.root .link__vO9Dw:hover {
  text-decoration-line: underline;
}
.link__im2A8 {
  position: relative;
  color: var(--token-RLx-GBP4VGRV);
  font-size: 14px;
}
.root .link__im2A8:hover {
  text-decoration-line: underline;
}
.text__heLyB {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-RLx-GBP4VGRV);
}
.freeBox___1PGPz {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___1PGPz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___1PGPz > :global(.__wab_flex-container) > *,
.freeBox___1PGPz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1PGPz > :global(.__wab_flex-container) > picture > img,
.freeBox___1PGPz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__qYQwi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__d0HpJ {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__d0HpJ:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__kCink:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__z3BgM {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__z3BgM:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__agMfN:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__k5YWm {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__k5YWm:hover {
  color: var(--token-dph1wZ7NjV9);
}
